* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-bg-color: rgb(2, 71, 99);
}

body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: center;
    background: var(--main-bg-color);
}
